.aboutUs {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: var(--standard-padding);
  justify-content: center;
  color: rgba(93, 104, 79, 0.7);
  background-color: var(--main-color);
}

.aboutUs h2 {
  font-family: "Montserrat", sans-serif;
  font-weight: lighter;
}

.text {
  padding: var(--standard-padding) 2rem;
  font-family: "Raleway", sans-serif;
  font-weight: bold;
}

@media screen and (min-width: 768px) {
  .text {
    padding: var(--standard-padding) 5rem;
  }
}
