.containerBG {
  display: flex;
  width: 100%;
  background: var(--bg-color);
  background-color: var(--bg-color);
  margin-bottom: 50px;
  font-weight: bolder;
}

.welcomeBox {
  font-weight: bolder;
}

.mainDogImg {
  display: inline-block;
  max-width: 38rem;
  object-position: bottom;
}
.mainDog {
  position: relative;
  top: 37.5rem;
  right: 21rem;
}

.welcomeBox {
  padding: 24px 24px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
  margin: 100px 50px 100px 50px;
}

.title {
  color: #ffffff85;
  font-weight: bold;
  font-family: var(--main-font) !important;
  font-size: 6.5rem;
  line-height: 1.5;
  text-align: justify;
}

.adoptButton {
  font-size: 32px;
  width: 10rem;
  height: auto;
  padding: var(--standard-padding);
  border-radius: 12px;
  border: none;
  background-color: var(--accent-color);
  color: var(--main-color);
  box-shadow: var(--standard-shadow);
  text-shadow: var(--standard-shadow);
  font-family: "Montserrat", sans-serif;
  margin-bottom: 50px;
}

@media only screen and (min-width: 768px) {
  .mainDogImg {
    display: inline-block;
    max-width: 38rem;
    object-position: bottom;
  }
  .mainDog {
    position: relative;
    top: 37rem;
    right: 21rem;
  }

  .title {
    font-size: 6.25rem;
  }

  .adoptButton {
    font-size: 24px;
    width: 8rem;
  }
}

@media only screen and (min-width: 992px) {
  .mainDogImg {
    display: inline-block;
    max-width: 38rem;
  }
  .mainDog {
    position: relative;
    top: 37rem;
    right: 20rem;
  }

  .title {
    font-size: 6.25rem;
  }

  .adoptButton {
    font-size: 24px;
    width: 8rem;
  }
}

@media screen and (min-width: 1024px) {
  .mainDogImg {
    display: inline-block;
    width: 38rem;
  }

  .mainDog {
    position: relative;
    top: 21.5rem;
    right: 9rem;
  }

  .title {
    font-size: 4rem;
  }
}

@media screen and (min-width: 1304px) {
  .mainDogImg {
    display: inline-block;
    width: 38rem;
  }

  .mainDog {
    position: relative;
    top: 12.5rem;
    right: 9rem;
  }

  .title {
    font-size: 4rem;
  }
}
