.containerBG {
  display: flex;
  width: 100%;
  background: var(--bg-color);
  /* background-size: 50% auto; */
  /* background-position: right 8px bottom -15.5px; */
  /* min-height: 80vh; */
  margin-bottom: 50px;
  /* padding-left: 200px */
}

.welcomeBox {
  padding-bottom: 16px;
  padding-left: 100px;
  /* margin-bottom: 15%; */
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
}

.title {
  font-size: 144px;
  color: #ffffff85;
  /* font-weight: bold; */
  /* font-family: 'Montserrat', sans-serif; */
  font-size: 8rem;
  line-height: 1.5;
  margin: 100px auto 100px auto;
}

.adoptButton {
  padding: var(--standard-padding);
  border-radius: 12px;
  border: none;
  background-color: var(--accent-color);
  color: var(--main-color);
  box-shadow: var(--standard-shadow);
  text-shadow: var(--standard-shadow);
  font-family: "Montserrat", sans-serif;
  font-weight: bolder;
}

.mainDog {
  /* position: relative; */
  /* width: 50%; */
}

.mainDogImg {
  /* position: absolute; */
  position: relative;
  top: 15em;
  width: 55rem;
}

@media screen and (max-width: 650px) {
  .welcomeBox {
  }

  .title {
    font-size: 100px;
  }
}
