* {
    font-family: 'Montserrat';
}

a:link {
    text-decoration: none;
}

.congratsForm {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding-left: 5px;
    position: relative;
    z-index: 0;
}

h1 {
    font-family: 'Montserrat';
    text-align: center;
    font-style: normal;
    font-weight: 400;
    font-size: 30px;
    line-height: 150%;
    letter-spacing: 0.15em;
    text-transform: uppercase;
}

.container {
    display: flex;
    list-style: none;
    flex-direction: row;
    justify-content: center;
    align-items: flex-start;
    width: 100%;
    padding-bottom: 30px;
    padding-top: 15px;
}

.pictureElement {
    align-self: center;
    margin-bottom: 5px;
    font-size: 16px;
    font-style: normal;
    width: 50%;

}

.textElement {
    align-self: center;
    margin-bottom: 5px;
}

.textBlock {
    display: flex;
    flex-wrap: wrap;
    background-color: rgba(93, 104, 79, 1);
    color: white;
    width: 70%;
    height: 25%;
    z-index: 1;
    position: absolute;
}

.pic {
    display: flex;
    width: 100%;
}

h3 {
    text-align: center;
    font-weight: 400;
    font-size: 20px;
    line-height: 150%;
    letter-spacing: 0.15em;
    text-transform: uppercase;
    color: white;
}

p {
    font-size: 16px;
    font-style: normal;
    color: white;
}

.backToHomeBtn {
    background-color: rgba(93, 104, 79, 1);
    height: 50px;
    width: 130px;
    border: 2px solid #A78D75;
    border-radius: 50px;
    color: white;
    ;
}

.buttonPlace {
    display: flex;
    flex-direction: row;
    justify-content: center;
    padding-top: 20px;
}