* {
    font-family: 'Montserrat';
}

html,
body {
    height: 100vh;
}

a:link {
    text-decoration: none;
}

.congratsForm {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding-left: 5px;
    position: relative;
    height: auto;
}

h1 {
    text-align: center;
    font-style: normal;
    font-weight: 400;
    font-size: 24px;
    line-height: 150%;
    letter-spacing: 0.15em;
    text-transform: uppercase;
    padding-top: 10px;
}

.container {
    display: flex;
    list-style: none;
    flex-direction: row;
    justify-content: center;
    align-items: flex-start;
    width: 100%;
    padding-bottom: 30px;
    padding-top: 15px;
    height: 100%;
}

.pictureElement {
    align-self: center;
    margin-bottom: 5px;
    font-size: 16px;
    font-style: normal;
    width: 50%;

}

.textElement {
    align-self: center;
    margin-bottom: 5px;
}

.textBlock {
    display: flex;
    flex-wrap: wrap;
    background-color: rgba(93, 104, 79, 1);
    color: white;
    width: 75%;
    height: 25%;
    z-index: 1;
    position: absolute;
    padding: 8px;
    margin-top: 40%;
    margin-left: 20%;
}

.pic {
    display: flex;
    width: 100%;
}

h3 {
    text-align: center;
    font-weight: 400;
    font-size: 20px;
    line-height: 150%;
    letter-spacing: 0.15em;
    text-transform: uppercase;
    color: white;
}

p {
    font-size: 16px;
    font-style: normal;
    color: white;
}

.backToHomeBtn {
    background-color: rgba(93, 104, 79, 1);
    height: 50px;
    width: 130px;
    border: 2px solid #A78D75;
    border-radius: 50px;
    color: white;
}

.buttonPlace {
    display: flex;
    flex-direction: row;
    justify-content: center;
    padding-top: 90px;
    padding-bottom: 16%;
}

@media only screen and (min-width: 600px) {
    h1 {
        font-size: 30px;
    }

    h3 {
        font-size: 26px;
    }

    p {
        font-size: 18px;
    }

    .container {
        min-height: 80%;
        max-height: 80%;
    }

    .backToHomeBtn {
        font-size: 20px;
        height: 60px;
        width: 190px;
    }

    .buttonPlace {
        padding-top: 30px;
        padding-bottom: 16%;
    }

    .textBlock {
        padding: 7px;
        margin-top: 40%;
        margin-left: 20%;
        margin-right: -2%;
    }
}

@media only screen and (min-width: 1024px) {
    h1 {
        font-size: 35px;
    }

    h3 {
        font-size: 30px;
    }

    p {
        font-size: 22px;
    }

    .container {
        min-height: 50%;
        max-height: 50%;
    }

    .backToHomeBtn {
        font-size: 20px;
        height: 70px;
        width: 190px;
    }

    .buttonPlace {
        padding-top: 30px;
        padding-bottom: 16%;
    }

    .textBlock {
        padding: 7px;
        margin-top: 45%;
        margin-left: 20%;
        margin-right: -2%;
    }
}