* {
    font-family: Arial;
}

.card {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    background-color: bisque;
}


.infoBox {
    display: flex;
    width: 50%;
    border-width: 2px;
    border-color: black;
    height: 300px;
}


.pictureBox {
    display: flex;
    width: 50%;
    border-width: 2px;
    border-color: black;
    height: 300px;
}


.title {
    font-size: 18px;
    color: black;
}

.responce {
    color: brown;
    font-size: 16px;
}

ul {
    list-style: none;
    color: rgb(53, 117, 117);
}

li {
    margin-bottom: 10px;

}

.button {
    background-color: aqua;
    height: 40px;
    width: 100px;
}


.dropdown {
    display: flex;
    align-items: flex-start;
    margin-left: 30px;
    height: 40px;
    width: 150px;
    background-color: aqua;
    margin-bottom: 30px;
}


.buttonPlace {}