.footer {
    left: 0%;
    right: 0%;
    top: 92.24%;
    bottom: 0%;
    width: 100%;
    margin-bottom: 0px;
    font-family: 'Montserrat';
}


.picBlock {
    display: flex;
    flex-direction: row;
    left: 0%;
    right: 0%;
    bottom: 0%;
}

.colorBlock {
    background-color: rgba(167, 141, 117, 1);
    width: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.picture {
    width: 50%;
}

.text {
    color: rgba(255, 255, 255, 1);
    text-align: center;
    font-family: 'Montserrat';
}


.copyright {
    text-align: center;
    color: rgba(255, 255, 255, 1);
    background-color: rgba(58, 58, 58, 1);
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 400;
    font-size: 12px;
    line-height: 19px;
    letter-spacing: -0.01em;
    padding-top: 3px;
    padding-bottom: 3px;
    left: 0%;
    right: 0%;
    top: 96%;
    bottom: 0%;
}

.checkBtn {
    background-color: rgba(93, 104, 79, 1);
    color: white;
    font-family: 'Montserrat';
    font-size: 14px;
    height: 36x;
    width: 90px;
    padding-left: 10px;
}


@media only screen and (min-width: 600px) {
    .copyright {
        font-size: 16px;
    }

    .text {
        font-size: 16px;
    }

    .picBlock {
        max-height: 100px;
    }
}

@media only screen and (min-width: 1024px) {
    .copyright {
        font-size: 18px;
    }

    .text {
        font-size: 22px;
    }

    .picBlock {
        max-height: 150px;
    }
}