
/* ----- Restyling Elements of NPM Package for RandomDogSlider----- */

.alice-carousel *{
    color: black;
    
}

.alice-carousel__dots-item.__active{
    background: black !important;
}

.alice-carousel__dots-item {
    background: #0000003e !important;
}